.job-content .swiper:first-child .swiper-wrapper {
    max-height: 70vh;
    max-width: 80% !important;
}

.job-content .swiper:nth-child(2) .swiper-wrapper {
    max-height: 100px !important;
}

.slide-detail {
    max-width: 90%;
}
