@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Macan;
    src: url("./assets/stylesheet.css");
}
body {
    font-family: Macan;
}

.title-heading {
    font-size: 48px;
    text-align: left;
    color: #404145;
    font-weight: 400;
    letter-spacing: -1.44px;
    line-height: 105%;
}
